<div class="container">
  <div class="row">
    <div class="col-md-3">Logo</div>
    <div class="col-md-9"> <h2>Бизнес площадка ZBIZ.PRO</h2>
      ZBIZ.PRO — платформа для бизнеса, которая помогает компаниям покупать и продавать любые товары, услуги оптом и в розницу

      <p><b>Уникальная платформа для бизнеса ZBIZ.PRO создана специально для экономии денег на рекламу.</b></p>

      <p>Компаниям поставщикам предоставляется бесплатное размещение на сайте ZBIZ.pro</p>

      <p>Автоматическая генерация запросов от клиентов обеспечивает постоянный поток заказов. При первичной регистрации, компания поставщика <b>ОБЯЗАТЕЛЬНО</b> необходимо сделать следующее:</p>

      <ul>
        <li>Заполнить данные в «Настройки компании»</li>
        <li> Выбрать вашу группу «Поставщик»</li>
      </ul>

      <p style="color:red">Видео-иструкция для поставщиков: <a href="https://www.youtube.com/watch?v=rraF7juqpWw&feature=youtu.be">Смотреть</a></p></div>
  </div>

</div>
