<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto text-center">
      <label>Ключевые слова товаров</label>
      <input class="form-control" name="name" [(ngModel)]="name" required/>
    </div>
    <div class="col-md-4 mx-auto text-center">
      <label>Выберите категорию</label>
      <select class="form-control">
        <option readonly=""></option>
      </select>
    </div>
    <div class="col-md-4 mx-auto text-center">
      <label>Выберите регион</label>
      <select class="form-control">
        <option readonly=""></option>
      </select>
    </div>
  </div>

</div>


